.ingredientSelect {
  margin: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ingredientSelect > label {
  align-self: flex-start;
}

.ingredientForm {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
}

.selectField, input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
}

.ingredientForm > * {
  width: 30%;
  text-align: center;
}

.button {
  align-self: flex-end;
}
